
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-us_container{
    width: 100%;
    min-height: 50vh;
    background-color: white;
}

.about-us_container .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #222;
    letter-spacing: 1.5px;
    /* padding: 20px 0px; */
    margin: 25px 0;
}

/* .about-us_container .title h1::after{
    
} */

.about-content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}

.about-content .about-article{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #fafafa;
    padding: 25px 25px;

}

.about-content .about-article h2{
    color: #4169e1;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.about-content .about-article p{
    margin: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: #222;
}

.about-content .about-article a{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #4169e1;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-top: 20px;
    border: 1px solid #4169e1;

}

.about-content .about-article a:hover{
    background-color: #fff;
    color: #4169e1;
    transition: 0.2s ease;
}


.image-section{
    width: 100%;
    margin: auto;

}
.image-section img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px){
    .about-content{
    grid-template-columns: repeat(1, 1fr);
    }
    .about-article{
        text-align: center;
    }
}
