@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .services-section{
    height: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin: 0;
    overflow: hidden;
    font-family:'Roboto Condensed', sans-serif;
} */


.wrapper
{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* background: #fafafa; */
    background: white;
}

.wrapper h1
{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500 ;
}

.content-box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    

}

.card
{
    min-height: 300px;
    width: 325px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow:  0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card i
{
margin: 20px;
color:#ff5724;
}

.card h2
{
    margin-bottom:12px ;
    font-weight: 400;
    text-align: center;
}

.card p
{
color: #6c757d;
text-align: center;
}

.card:hover i,
.card:hover p
{
    color: #fff;
}

.card:hover h2{
    font-weight: 600;
    color: #f2f2f2;

}

.card:nth-child(1):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/service.jpg');
    background-size: cover;
}
.card:nth-child(2):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/service.jpg');
    background-size: cover;
}
.card:nth-child(3):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/security-cameras.jpg');
    background-size: cover;
}
.card:nth-child(4):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/office-phone-100621813-large.jpg');
    background-size: cover;
}
.card:nth-child(5):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/Data-cables.jpg');
    background-size: cover;
}
.card:nth-child(6):hover
{
   background:linear-gradient(45deg,
                              rgba(255,28,8,0.7)0%,
                              rgba(255,0,82,0.7)100%),
                              url('assets/imgs/doorbell.jpg');
    background-size: cover;
}

/****Responsive*****/
@media(max-width:991px)
{
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }

}

/* .services{
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1{
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
} */

/* .services__card img{
    margin: 10px;
    height: 450px ;
    width: 275px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; */
    /* background-image: url("/service-call.jpg") center no-repeat; */
    /* transition: 0.3s ease-in; */
/* } */
/* Use the nth() for card background */

/* .services__card h2{
    text-align: center;
}

.services__card p{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.services__btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button{
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 2px;
    background: #131313;
    font-size: 1rem;
}

.services__card button:hover{
    cursor: pointer;
} */

/* .services__card */

/* @media screen and (max-width:1300px){
    .services__wrapper{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:768px){
   .services__wrapper{
        grid-template-columns: 1fr;
    } 
} */

/* .section-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    width: 160px;
    height: 2px;
    background: #333;
    color: #333;
    margin: 40px auto;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 25px;
    color: #fff;
    cursor:pointer;
    flex: 0.5;  
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s ;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
} */

/* .services-page_content{
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
}

@media(min-width: 600px){
    .services-page_content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 800px){
    .services-page_content{
        grid-template-columns: repeat(5,1fr);
    }
}

.services-card{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1),
        0 2px 2px rgba(0,0,0,.1),
        0 4px 4px rgba(0,0,0,.1),
        0 8px 8px rgba(0,0,0,.1);
    cursor: pointer;
}

@media(min-width: 600px){
    .services-card{
        height: 400px;
    }
}

.services-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center;
    transition: transform 1050ms cubic-bezier(0.19,1,0.22,1);
    pointer-events: none;
}

.services-card::after{
    content: '';
    display: block;;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.009)11.7%,
        rgba(0,0,0,0.034)22.1%,
        rgba(0,0,0,0.072)31.2%,
        rgba(0,0,0,0.123)39.4%,
        rgba(0,0,0,0.182)46.6%,
        rgba(0,0,0,0.249)53.1%,
        rgba(0,0,0,0.320)58.9%,
        rgba(0,0,0,0.394)64.3%,
        rgba(0,0,0,0.468)69.3%,
        rgba(0,0,0,0.540)74.1%,
        rgba(0,0,0,0.607)78.8%,
        rgba(0,0,0,0.668)83.6%,
        rgba(0,0,0,0.721)88.7%,
        rgba(0,0,0,0.762)94.1%,
        rgba(0,0,0,0.790)100%);
        transform: translateY(-50%);
        transition: transform 1400ms cubic-bezier(0.19,1,0.22,1);
}

.services-card:nth-child(1)::before{
    background-image: url("assets/imgs/service-call.jpg");
}

.services-card:nth-child(2)::before{
    background-image: url("assets/imgs/security-cameras.jpg");
}

.services-card:nth-child(3)::before{
    background-image: url("assets/imgs/phone-system.jpg");
}

.services-card:nth-child(4)::before{
    background-image: url("assets/imgs/Data-cables.jpg");
}

.services-card:nth-child(5)::before{
    background-image: url("assets/imgs/bell-buzzer.jpg");
}

.services-page_content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.85rem;
    transform: transform 700ms cubic-bezier(0.19,1,0.22,1);
    z-index: 1;
}

.card-title{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    
}

.btn{
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
   
}

.services-card:after{
    transform: translateY(0);
}

.services-page_content{
    transform: translateY(calc(100% - 4.5rem));
}

.services-page_content > *:not(.card-title){
    opacity: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.19,1,0.22,1),
                opacity 700ms cubic-bezier(0.19,1,0.22,1);
}

.services-card:hover{
    align-items: center;
}

.services-card:hover::before{
    transform: translateY(-4%)
}

.services-card:hover::after{
    transform: translateY(-50%)
}

.services-card:hover .services-page_content{
    transform: translateY(0);
}

.services-card:hover .services-page_content> *:not(.card-title){
    opacity: 1;
    transform: translateY(0);
    transition-delay:85ms ;
} */
