/* *******NavBar***** */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
   font-family: 'Roboto Condensed', sans-serif; 
   padding-bottom: 50px;
}
/* .nav-container{
    width: 100%;
} */

.home-container{
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;
}

/* @todo Nav  Logo */

.logo{
    width: 190px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* .logo.active{
    width: 50px;
    height: 50px;
    
} */
.nav{
   position: fixed; 
   /* background-color: #222; */
   top: 0;
   left: 0;
   right: 0;
   transition: all .3s ease ease-in-out;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.nav a{
    /* color: #fff; */
    color: rgba(255,255,255,0.6);
    /* padding: 30px; */
    font-size: 15px;
    text-decoration: none;
    width: 25%;
    padding: 25px 10px;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
}

.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3) ;
}

.nav.active a{
    color: black;
}

.nav.active a.current{
    color: black;
}
.nav.active a:hover{
    color: black;
}





.nav.active .container{
    padding: 15px 0;
}

.nav a.current, .nav a:hover{
    /* color: royalblue; */
    color: #fff;
    font-weight: bold;
    transition: .3s;
}


/* .nav li a::after{
 content: '';
 position: absolute;
 display: block;
 width: 0;
 height: 2px;
 background: #fff;
transition: width .3s;
} */

.nav li a::after{
 content: '';
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: translateX(-50%) scaleX(0);
 -webkit-transform: translateX(-50%) scaleX(0);
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 width:100%;
 height: 2px;
 background-color: rgba(255,255,255,0.9);
 -webkit-transition: transform 250ms;
 transition: transform;
 
}

/* .nav li a:hover::after {
    width: 100%;
} */
.hero{
    background-image: url('assets/imgs/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.hero a{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 0px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-top: 20px;
    border: 2px solid #FFF;  
}

.hero a:hover {
    background-color: #fff;
    color: #4169e1;
    transition: 0.2s ease;
}


/* .footer-info{
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 4rem;
} */
.info-column
{
 float: left;
  width: 33.33%;
  padding: 0 10px;
}

.row {
    margin: 0 -5px;
    /* margin-top: 200px ; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.info-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .info-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* ******************** */
/* Information Section */

.information{
    height: 20vh;
}

.info-container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 50px 15px;
}

.info-grid i{
 color: #adb5bd;
 font-size: 36px;
}

.info-grid h3{
    font-size: 14px;
    color: #adb5bd;
    margin: 10px 0;
    letter-spacing: 1px;
}

.info-grid p{
    font-size: 15px;
    letter-spacing: .5px;
}




.grid-3 {
  display: grid;
  grid-gap: -50px;
  grid-template-columns: repeat(4, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

hr{
     border-top: 3px solid #bbb;
     width: 25%;
     /* position: relative; */
     margin:0 auto;
     margin-top: 50px;
}
/********************** */

 /* nav{
     margin: 0 auto;
     width: 100%;
     font-family: 'Roboto Condensed', sans-serif;
 }


nav ul{ 
    margin: 0; 
    padding: 50px 0 0 0; 
    list-style: none; 
    text-align: right;
    padding-right: 350px;
    padding-left: 350px;
}

nav ul li{ 
    float: none;
    display: inline-block;
        }
nav ul li:nth-child(1){ float: left;}
nav ul li:nth-child(2){ float: left;}
nav ul li:nth-child(3){ float: left;}
nav ul li:nth-child(4){ float: left;}       
.nav-links a{
   color: rgb(226,226,226);
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 3px;
   text-decoration: none; 
    display: block;
    padding: 10px 15px
} */


/* nav ul li a:hover{} */
/* .logo_area{
     width: 250px;
      height: 250px; 
      position: absolute; 
      left: 50%;
      top: 0;
       content: ""; 
     margin-left: -120px; 
     text-align:center;
}
.logo{
    height: 150px;
    width: 100%;
 }

 .burger{
     display: none;
     position: absolute;
     right: 0;
     top: .5em;
 } */

 /* .burger div{
    
     right: 0;
     width: 25px;
     height: 3px;
     margin: 5px ;
     background-color: black;
     transition: all 0.3s ease;
 } */

 /* @media screen and (max-width: 1024px){
   
 }

 @media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    nav ul{ 
    margin: 0; 
    padding: 50px 0 0 0; 
    list-style: none; 
    text-align: right;
    padding-right: 150px;
    padding-left: 150px;
}
    
    .logo_area{
     width: 250px;
      height: 250px; 
      position: absolute; 
      left: 50%;
      top: 0;
       content: ""; 
     margin-left: -115px; 
     text-align:center;
}
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 15vh;
        background-color: black;
        display: flex ;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        padding-top: 15px;
        padding-right: 25px;
        right: 0;
    }
 }

 .nav-active{
     transform: translateX(0%);
 } */



 /* @keyframes navLinkFade{
     from{
        opacity: 0;
        transform: translateX(50px);
       }
     to{
        opacity: 1;
         transform: translateX(0px);
     }
 }

 .toggle .line1{
    transform: rotate(-45deg )translate(-5px, 6px)
 }
.toggle .line2{
     opacity: 0;
 }
 .toggle .line3{
      transform: rotate(45deg) translate(-5px, -6px)
 }

 .background {
     content:'';
    height: 100vh;
    width: 100%;
    background-image: url('/assets/imgs/pexels-pixabay-159304.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
 } */


  